/speakXDemo/HELP.md
/speakXDemo/target/
/speakXDemo/!.mvn/wrapper/maven-wrapper.jar
/speakXDemo/**/src/main/**/target/
/speakXDemo/**/src/test/**/target/

/speakXDemo/.apt_generated
/speakXDemo/.classpath
/speakXDemo/.factorypath
/speakXDemo/.project
/speakXDemo/.settings
/speakXDemo/.springBeans
/speakXDemo/.sts4-cache

/speakXDemo/.idea
/speakXDemo/*.iws
/speakXDemo/*.iml
/speakXDemo/*.ipr

/speakXDemo/nbproject/private/
/speakXDemo/nbbuild/
/speakXDemo/dist/
/speakXDemo/nbdist/
/speakXDemo/.nb-gradle/
/speakXDemo/build/
/speakXDemo!**/src/main/**/build/
/speakXDemo!**/src/test/**/build/

/speakXDemo/.vscode/

.vscode